<ion-header>
  <ion-toolbar color="primary">
    <button menuToggle ion-button color="light" mini><ion-icon name="md-menu"></ion-icon></button>
    <ion-searchbar placeholder="Buscar" (click)="searchForm()"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h3 align="center">{{ viewTitle }}</h3>
  <calendar [monthviewEventDetailTemplate]="monthviewDefaultEventDetailTemplate"
  [eventSource]="programa"
  [calendarMode]="calendar.mode"
  [currentDate]="calendar.currentDate"
  (onEventSelected)="onEventSelected($event)"
  (onTitleChanged)="onViewTitleChanged($event)"
  (onTimeSelected)="onTimeSelected($event)"
  step="30"
  class="calendar">
  </calendar>

    <ng-template #monthviewDefaultEventDetailTemplate let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
        <ion-list class="event-detail-container" has-bouncing="false" *ngIf="showEventDetail" overflow-scroll="false">
                <ion-item [style.background-color]="event.program.color" [style.color]="event.program.color ? 'white' : 'black'" *ngFor="let event of selectedDate?.events" (click)="onEventSelected(event)">
                        <span *ngIf="!event.allDay" class="monthview-eventdetail-timecolumn">
                            <span *ngIf="event.program.color">{{ event.program.categoria }} | </span>
                            {{event.startTime|date: 'HH:mm'}}
                            -
                            {{event.endTime|date: 'HH:mm'}} <br>
                        </span>
                <span *ngIf="event.allDay" class="monthview-eventdetail-timecolumn">All day</span>
                <span class="event-detail">  {{event.title}}</span>
            </ion-item>
            <ion-item *ngIf="selectedDate?.events.length==0">
                <div class="no-events-label">{{noEventsLabel}}</div>
            </ion-item>
        </ion-list>
    </ng-template>
</ion-content>
